.ex-1-square {
  transition: 2.5s;
}

.ex-1-square:hover {
  background-color: #FF0000;
}

.ex-2-square {
  transition: 2.5s;
}

.ex-2-square:active {
  width: 100%;
}

.ex-3-square {
  transition: 1s;
}

.ex-3-square:hover {
  border-radius: 100%;
}

.ex-4-square {
  transition: 1s;
}

.ex-4-square:hover {
  opacity: 0;
}

.ex-5-square {
  transition: 1s;
}

.ex-5-square:hover {
  transform: scale(2.0);
}

.ex-6-img:hover {
  filter: grayscale(80%) sepia(20%);
}

.ex-7-img {
  transition: all 2s;
}

.ex-7-img:hover {
  filter: sepia(60%);
}

.ex-8-img {
  transition: all 2s;
}

.ex-8-img:hover {
  border-radius: 20px;
  filter: sepia(80%) grayscale(20%);
  }

.ex-9-img {
  transition: all 2s;
}

.ex-9-img:hover {
  transform: scale(1.5);
  border-radius: 20px;
  filter: sepia(80%) grayscale(20%);
}

.ex-10-icon {
  animation-name: cerchio;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

@keyframes cerchio {
  0% {transform: rotate(360deg)}
}

.ex-11-icon:hover {
  animation-name: lento;
  animation-duration: 2s;
  animation-timing-function: linear;
}

@keyframes lento {
  0% {transform: rotate(0)}
  85% {transform: rotate(360deg)}
}